@page
@model WebAPI.Pages.AdminModel
@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Current Data</h1>
    <p1>@Model.UserName</p1>
    <p1>@Model.Password</p1>
</div>